<h2>Busquedas</h2>
<hr>

<ul class="list-group"> 

  <li 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact:true }"
    routerLink="" 
    class="list-group-item list-group-item-action"
  >
    Buscar Pais
  </li>

  <li 
    routerLinkActive="active"
    routerLink="region" 
    class="list-group-item list-group-item-action"
  >
    Buscar region
  </li>

  <li 
    routerLinkActive="active"
    routerLink="capital" 
    class="list-group-item list-group-item-action"
  >
    Buscar capital
  </li>

</ul>